// Colors
// All contrast ratios measured against white.
// Numbers in color name refer to opacity of the base color,
// e.g. slate-50 is a solid color that is equal to slate-100 at 50% opacity.
// --------------------------------------------------
$color-red: #e32b24; // 4.5:1
$color-redLighter: #ef3934; // 3:1
$color-redDarker: #b50600; // 7:1
$color-red-10: #fff0ed;

$color-brand: $color-redLighter;
$color-brandLighter: $color-redLighter;
$color-brandDarker: $color-redDarker;
$color-brand-10: rgba($color-redLighter, 0.075);

$color-slate-100: #282c36; // 7:1
$color-slate-65: #73767c; // 4.5:1
$color-slate-50: #93959a; // 3:1
$color-slate-25: #c9cacd;
$color-slate-10: #e9e9ea;
$color-slate-5: #f4f4f5;

$color-grayDarker: $color-slate-100;
$color-grayDark: $color-slate-65;
$color-grayMedium: $color-slate-50;
$color-grayLight: $color-slate-25;
$color-grayLighter: $color-slate-10;
$color-grayLightest: $color-slate-5;

$color-white: #ffffff;
$color-whiteDark: rgba($color-white, 0.75);
$color-whiteDarker: rgba($color-white, 0.5);
$color-whiteDarkest: rgba($color-white, 0.25);

$color-black: #000000;
$color-blackDark: rgba($color-black, 0.75);
$color-blackDarker: rgba($color-black, 0.5);
$color-blackDarkest: rgba($color-black, 0.25);

// Color classes
// --------------------------------------------------
.red {
  color: $color-red;
}

.redLighter {
  color: $color-redLighter;
}

.redDarker {
  color: $color-redDarker;
}

.brand {
  color: $color-brand;
}

.grayDarker {
  color: $color-grayDarker;
}

.grayDark {
  color: $color-grayDark;
}

.grayMedium {
  color: $color-grayMedium;
}

.grayLight {
  color: $color-grayLight;
}

.grayLighter {
  color: $color-grayLighter;
}

.grayLightest {
  color: $color-grayLightest;
}

// Color classes for Hover state
// --------------------------------------------------
.hover\:red:hover {
  color: $color-red;
}

.hover\:bg-red:hover {
  background-color: $color-red;
}

.hover\:bg-red-10:hover {
  background-color: $color-red-10;
}

.focus\:border-red:focus,
input:focus + label.focus\:border-red {
  border-color: $color-red;
}

// Background color classes
// --------------------------------------------------
.bg-red {
  background-color: $color-red;
}

.bg-redLighter {
  background-color: $color-redLighter;
}

.bg-red-10 {
  background-color: $color-red-10;
}

.bg-redDarker {
  background-color: $color-redDarker;
}

.bg-brand {
  background-color: $color-brand;
}

.bg-brand-10 {
  background-color: $color-brand-10;
}

.bg-brand-10-solid {
  background-color: $color-red-10;
}

.bg-grayDarker {
  background-color: $color-grayDarker;
}

.bg-grayDark {
  background-color: $color-grayDark;
}

.bg-grayMedium {
  background-color: $color-grayMedium;
}

.bg-grayLight {
  background-color: $color-grayLight;
}

.bg-grayLighter {
  background-color: $color-grayLighter;
}

.bg-grayLightest {
  background-color: $color-grayLightest;
}
