// Source: https://css-tricks.com/accessible-simple-responsive-tables/

/* Variables
================================== */
$tableColour: $color-slate-5;
$bw: 3px; // border width

/* Apply styles
================================== */
.Rtable {
  position: relative;
  top: $bw;
  left: $bw; //compensate for border offset
}

/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  border-color: darken($tableColour, 10%);
  color: white;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: white;
  }
}
.Rtable-cell--medium {
  background-color: mix(white, $tableColour, 50%);
  border-color: mix(white, $tableColour, 40%);
}
.Rtable-cell--light {
  background-color: $color-grayLighter;
  border-color: mix(white, $tableColour, 80%);
}
.Rtable-cell--highlight {
  background-color: lightgreen;
  border-color: darken(lightgreen, 10%);
}
.Rtable-cell--alert {
  background-color: darkorange;
  border-color: darken(darkorange, 10%);
  color: white;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: white;
  }
}

/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%; // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  background: fade(slategrey, 20%);
  > h3 {
    margin: 0;
  }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols {
  border-bottom: 0.0625rem solid $color-grayLightest;
  > .Rtable-cell {
    width: 33.33%;
    align-self: baseline;
  }
}

.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
  align-self: baseline;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}

.Rtable-cell {
  margin: -$bw 0 0 -$bw; //border collapse offset
  // @include Rtable-cell--light;
}

// Inherit header and footer styles
.Rtable-cell--head {
  // @include Rtable-cell--dark;
}
.Rtable-cell--foot {
  // @include Rtable-cell--medium;
}

$breakpoint: 500px;

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .Rtable--collapse {
    display: block;
    > .Rtable-cell {
      width: 100% !important;
    }
    > .Rtable-cell--foot {
      margin-bottom: 1em;
    }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell {
    width: 100%;
  }
  > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
}
