<label class="sr-only" for="search">Search</label>
<Input
  @id="search"
  @type="text"
  @class="search-text form-control mb-2"
  @placeholder="Search"
  @value={{@searchText}}
  @keyUp={{@searchVisitors}}
/>
